

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(var(--cl-white));
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--cl-black), 0.5);
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgba(var(--cl-black), .5);
      border-radius: 10rem;
      transition: all .3s;
      z-index: -1;
    }
    &:hover {
      border-radius: 10rem;
      &:before {
        width: 100%;
      }
    }
  }

.buttonForm{
  width: 8rem;
  height: 3rem;
  outline: none;
  border: none;

  background-color: rgba(var(--cl-gray-900));
  border-radius: 0.5rem;
  font-family: var(--font-family-default);
  font-size: 1rem;
  font-weight: 700;
  color: rgb(var(--cl-white));

  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);

  cursor: pointer;
  transition: all .1s linear;
  &:hover{
    filter: brightness(1.3);
  }
}

.buttonForm2{
  width: 8rem;
  height: 3rem;
  outline: none;
  border: none;

  background-color: rgba(var(--cl-gray), .5);
  border-radius: 0.5rem;
  font-family: var(--font-family-default);
  font-size: 1rem;
  font-weight: 700;
  color: rgb(var(--cl-white));

  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);

  cursor: pointer;
  transition: all .1s linear;
  &:hover{
    background-color: rgba(var(--cl-gray), 1);
  }
}