@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900;1000&display=swap');


:root {
  --font-family-default: 'Nunito', sans-serif;
  
  --cl-black: 0,0,0;
  --cl-white: 255,255,255;
  --cl-gray: 196,180,217;
  --cl-gray-900: 34,32,37;
  --cl-gray-800: 51,51,51;
  --cl-gray-700: 66,66,66;
  --cl-green: 56,239,125;
  --cl-red: 232,32,32;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: rgba( var(--cl-black), 1);
  background-image: linear-gradient(144deg, rgba( var(--cl-black), 1) 0%, rgba( var(--cl-gray), 0.2) 50%, rgba( var(--cl-black), 1) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

a, span{
  font-family: var(--font-family-default);
}