.main{
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.containerLogin{
    width: 30rem;
    height: 25rem;
    border-radius: 1rem;
    padding: 1rem 1rem;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(var(--cl-white));

    background: rgb( var(--cl-black) );
    background: linear-gradient(-141deg, rgba(var(--cl-gray-900),0.3) 0%, rgba(var(--cl-black),0.5) 40%, rgba(var(--cl-black),0.5) 60%, rgba(var(--cl-gray-900),0.3) 100%);
    box-shadow: 0 0 10px rgba(var(--cl-black),0.5);
}

.titleLogin{
    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 2.5rem;
}

.contentInput{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: -1rem;
    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    align-self: center;
}

.forwardPass{
    font-family: var(--font-family-default);
    font-weight: 300;
    font-size: 1rem;
    display: block;
    margin: 1.5rem;
    &__a{
        font-weight: 600;
        font-size: 1rem;
    }
}